* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #22282f;
}

h1 {
    margin: 32px;
    color: #ffffff;
    font-size: 64px;
}

.wrapper {
    padding: 1.5em 1.5em;
    padding-bottom: 0;
    margin: 0 auto;
    max-width: 1200px;
}

.content {
    display: flex;
}

.select-container {
    margin-top: 50px;
    padding: 32px;

    .select-box {
        display: flex;
        width: 600px;
        flex-direction: column-reverse;

        .movie-box {
            background: #2f3640;
            border-radius: 8px;
            margin-bottom: 8px;
            color: #f5f6fa;
            padding: 12px 24px;

            input[type=text] {
                background: #3c4350;
                border: none;
                width: 100%;
                padding: 8px;
                margin: 15px 0 5px;
                border-radius: 5px;
            }

            input:focus {
                outline: none;
            }

            ::placeholder {
                color: #e2e3e7;
            }

            input, select, textarea{
                color: #e2e3e7;
            }
        }

        .search-box {
            display: flex;
            
            button {
                padding: 0 25px;
                border-radius: 30px;
                border: none;
                margin: 15px 20px 5px 50px;
                background-color: #775bb3;
                font-weight: 600;
                color: #f5f6fa;
            }

            button:hover {
                opacity: 95%;
                cursor: pointer;transform: translateY(-.8px);
                box-shadow: 0 15px 15px rgba(72,19,159,.1);
            }
        }

        .search-bar {
            position: relative;
            width: 100%;
        }
    }

    .results-container {
        background: #2f3640;
        border-radius: 8px;
        margin-bottom: 8px;
        color: #f5f6fa;
        padding: 12px 24px;

        ul {
            list-style: none;

            li {
                margin-top: 10px;
                display: flex;
                justify-content: space-between;

                button {
                    padding: 10px 25px;
                    border-radius: 30px;
                    border: none;
                    margin: 5px 20px 5px 50px;
                    background-color: #3c4350;
                    font-weight: 600;
                    color: #f5f6fa;
                }
            }
        }
    }
}

.nominations-container {
    margin: 80px 0 0 50px;
    padding: 12px 24px;
    background-color: #2f3640;
    color: #f5f6fa;
    width: 300px;
    min-height: 400px;
    height: 100%;
    border-radius: 8px;

    h2 {
        margin-bottom: 20px;
    }

    .nominations {
        background-color: #3c4350;
        padding: 10px 20px;
        border-radius: 8px;
        position: relative;
        cursor: pointer;
    }

    .nominations:after {
        content: '';
        background: url('../images/trash.svg');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        height: 100%;
        width: 15px;
        right: 15px;
        top: 11px;
    }

    .nominations:hover:after {
        content: '';
        background: url(../images/trashRed.svg);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        height: 100%;
        width: 15px;
        right: 15px;
        top: 11px;
    }
}

